.side-bar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow: auto;

  .heading {
    img {
      height: 50px;
      padding: 25px 55px;
    }
  }

  .menu {
    flex: 1;
    padding: 0px 0px 0px 30px;
    color: rgba(0, 0, 0, 0.5);

    .menu-item {
      display: flex;
      padding: 2px 90px 2px 40px;
      margin: 20px 0px;
      cursor: pointer;

      &.selected {
        color: rgba(0, 0, 0, 0.8);
        border-right: 3px solid #29cd29;
        font-weight: 500;
      }

      .icon svg {
        padding-right: 15px;
        height: 20px;
      }
    }
  }

  .upgrade {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 120px;
    }

    .upgrade-button {
      display: flex;
      background-color: #2dc470;
      border-radius: 5px;
      color: white;
      padding: 10px 30px;
      max-width: 160px;
      align-items: center;

      svg {
        height: 12px;
        padding-right: 5px;
      }
    }
  }
}
