.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    // background-color: aliceblue;

    .search-box {
        display: flex;
        color: gray;
        align-items: center;
        width: 300px;
        padding: 10px 15px;
        border-radius: 15px;
        transition: all 0.3s;

        &:hover {
            background: rgba(0,0,0,0.03);
        }
    

        svg {
            height: 20px;
            color: rgba($color: #000000, $alpha: 0.3);
            padding-right: 5px;
        }

        input {
            outline: none;
            border: none;
            font-size: 18px;
            color: gray;
            background-color: transparent;
        }
    }

    .logged-user {
        display: flex;
        align-items: center;
        color: rgba($color: #000000, $alpha: 0.7);
        // padding: 15px;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            padding-right: 7px;
            object-fit: cover;
        }

        .name {
            font-weight: 500;
        }

        svg {
            height: 25px;
            padding-left: 50px;
            color: rgba($color: #000000, $alpha: 0.5);
        }
    }
}