.trello {
    padding: 10px 20px 0px 20px;
    display: flex;
    // padding: 0px 20px 0px 20px;
    overflow: auto;

    .card-scene {
        display: flex;
        flex: 1;
        overflow: auto;
  
        & > .smooth-dnd-container.horizontal {
          display: flex;
          flex: 1;
          overflow: auto;

          .smooth-dnd-draggable-wrapper {
            display: flex;
            flex: 1;
            flex-direction: column;
            // overflow: auto;  

            &> div {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow: auto;

                .card-column-header {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    // margin-bottom: 10px;
            
                    .column-icon {
                        display: flex;
                        align-items: center;
                        padding-right: 7px;
                        svg {
                            height: 20px;
                        }
                    }
                
                    .count {
                        color: rgba(0,0,0,0.4);
                        padding-left: 7px;
                    }
                }
      
                .smooth-dnd-container.vertical {
                  overflow: auto;
                  flex: 1;
                  padding-top: 10px;
                  
                .smooth-dnd-draggable-wrapper {
                    // padding: 15px;
                    .card {
                        margin: 10px 10px;
                        // width: 200px;
                        flex: 1;
                        // border: 1px solid gray;
                        box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.2);
                        // width: 100%;
                    }
                }

                }
              }
          }
  
          
  
        }
      }

      .trello-column {
        overflow: auto;
        // width: 200px;
        max-width: 350px;
        // min-width: 200px;
        display: flex !important;
        flex: 1;
        // background-color: yellow;
      }

    .trello-column {
        margin-right: 20px;

        .column-container {
            flex: 1;
            overflow: auto;
            // border: 1px solid red;
        }

        .card {
            padding: 25px;

            .card-header {
                font-weight: 500;
                font-size: 18px;
            }

            .company {
                color: gray;
                font-size: 14px;
                padding-top: 5px;
            }

            .text {
                font-size: 14px;
                padding-top: 25px;
            }

            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 35px;

                .date {
                    font-size: 12px;
                    color: gray;
                    // padding-top: 20px;
                    align-items: center;
                    svg {
                        height: 18px;
                        padding-right: 5px;
                    }
                    display: flex;
                }

                .members {
                    display: flex;

                    .member {
                        // background-color: aliceblue;
                        margin-left: -10px;
                        font-size: 11px;
                        font-weight: 600;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid white;
                        color: white;

                        &.one {
                            background-color: #644dd9;
                        }

                        &.two {
                            background-color: #fd689b;
                        }

                        &.three {
                            background-color: #9193a3;
                        }
                    }
                }
            }
        }
    }
    
}
